In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
train_data_path = "../raw_data/tiled_train_images/"
test_data_path  = "../raw_data/tiled_test_images/"

In [101]:
from lwb_smr.data import GetData

# testing

In [26]:
train_list = os.listdir(train_data_path)
test_list = os.listdir(test_data_path)

In [51]:
train_list.sort()
test_list.sort()

In [52]:
data_df = pd.DataFrame(list(zip(train_list,test_list)), columns=['x_data','y_data'])

In [53]:
data_df

                   x_data                    y_data
0     austin1_x00_y00.tif  austin1_mask_x00_y00.tif
1     austin1_x00_y01.tif  austin1_mask_x00_y01.tif
2     austin1_x00_y02.tif  austin1_mask_x00_y02.tif
3     austin1_x00_y03.tif  austin1_mask_x00_y03.tif
4     austin1_x00_y04.tif  austin1_mask_x00_y04.tif
...                   ...                       ...
1195  austin3_x19_y15.tif  austin3_mask_x19_y15.tif
1196  austin3_x19_y16.tif  austin3_mask_x19_y16.tif
1197  austin3_x19_y17.tif  austin3_mask_x19_y17.tif
1198  austin3_x19_y18.tif  austin3_mask_x19_y18.tif
1199  austin3_x19_y19.tif  austin3_mask_x19_y19.tif

[1200 rows x 2 columns]

In [19]:
data_df.sample(n=840,random_state=42)

                   x_data                    y_data
1178  austin1_x02_y07.tif  austin1_mask_x03_y09.tif
865   austin1_x00_y00.tif  austin1_mask_x10_y14.tif
101   austin2_x13_y00.tif  austin3_mask_x08_y14.tif
439   austin2_x01_y07.tif  austin3_mask_x17_y16.tif
58    austin3_x07_y09.tif  austin2_mask_x00_y17.tif
...                   ...                       ...
19    austin3_x08_y05.tif  austin2_mask_x07_y05.tif
684   austin2_x07_y14.tif  austin3_mask_x13_y19.tif
35    austin1_x18_y07.tif  austin2_mask_x16_y18.tif
824   austin3_x14_y10.tif  austin3_mask_x10_y08.tif
505   austin2_x15_y19.tif  austin1_mask_x09_y10.tif

[840 rows x 2 columns]

In [18]:
1200-360

840

In [20]:
data_split = data_df.copy()

In [39]:
data_train = data_split.sample(n=840,random_state=42)

In [32]:
droplist = tuple(data_train.index)

In [33]:
type(droplist)

tuple

In [34]:
len(droplist)

840

In [35]:
data_split.drop(data_split.index[[tuple(data_train.index)]])

/home/joshk/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

                   x_data                    y_data
1     austin3_x05_y12.tif  austin1_mask_x03_y00.tif
8     austin1_x13_y08.tif  austin3_mask_x08_y07.tif
13    austin2_x03_y13.tif  austin3_mask_x09_y08.tif
14    austin3_x04_y16.tif  austin3_mask_x06_y02.tif
16    austin2_x17_y00.tif  austin1_mask_x05_y16.tif
...                   ...                       ...
1189  austin1_x00_y15.tif  austin2_mask_x03_y19.tif
1196  austin1_x08_y05.tif  austin3_mask_x09_y12.tif
1197  austin3_x02_y18.tif  austin2_mask_x03_y09.tif
1198  austin3_x04_y10.tif  austin2_mask_x12_y17.tif
1199  austin3_x16_y05.tif  austin1_mask_x05_y15.tif

[360 rows x 2 columns]

In [40]:
data_train.to_csv("../raw_data/saved_dataframes/"+"temp.csv")

In [44]:
df_loaded = pd.read_csv("../raw_data/saved_dataframes/temp.csv",index_col=0)

In [45]:
df_loaded

                   x_data                    y_data
1178  austin1_x02_y07.tif  austin1_mask_x03_y09.tif
865   austin1_x00_y00.tif  austin1_mask_x10_y14.tif
101   austin2_x13_y00.tif  austin3_mask_x08_y14.tif
439   austin2_x01_y07.tif  austin3_mask_x17_y16.tif
58    austin3_x07_y09.tif  austin2_mask_x00_y17.tif
...                   ...                       ...
19    austin3_x08_y05.tif  austin2_mask_x07_y05.tif
684   austin2_x07_y14.tif  austin3_mask_x13_y19.tif
35    austin1_x18_y07.tif  austin2_mask_x16_y18.tif
824   austin3_x14_y10.tif  austin3_mask_x10_y08.tif
505   austin2_x15_y19.tif  austin1_mask_x09_y10.tif

[840 rows x 2 columns]

# Check

In [13]:
train_percent = 0.7
val_pc = 0.25
test_pc = 0.05

In [34]:
!pwd

/home/joshk/code/lwb_smr/lwb_smr/notebooks

In [102]:
# initialise class
dataset = GetData(train_data_path,test_data_path,train_percent,val_pc,test_pc)

In [103]:
data_dict = dataset.get_datasets()

Datasets match, proceed

In [104]:
data_dict.keys()

dict_keys(['train_x', 'train_y', 'val_x', 'val_y', 'test_x', 'test_y'])

In [106]:
# data_dict['test_y']

In [46]:
len(data_dict['train_x'])

840

In [90]:
dataset.save_datasets("../raw_data/saved_dataframes/")

In [47]:
data_df

                   x_data                    y_data
0     austin2_x13_y10.tif  austin2_mask_x12_y09.tif
1     austin3_x05_y12.tif  austin1_mask_x03_y00.tif
2     austin1_x12_y07.tif  austin2_mask_x15_y10.tif
3     austin2_x15_y17.tif  austin1_mask_x06_y00.tif
4     austin3_x19_y03.tif  austin3_mask_x09_y14.tif
...                   ...                       ...
1195  austin2_x11_y11.tif  austin1_mask_x18_y12.tif
1196  austin1_x08_y05.tif  austin3_mask_x09_y12.tif
1197  austin3_x02_y18.tif  austin2_mask_x03_y09.tif
1198  austin3_x04_y10.tif  austin2_mask_x12_y17.tif
1199  austin3_x16_y05.tif  austin1_mask_x05_y15.tif

[1200 rows x 2 columns]

In [67]:
dataset.check_data(data_dict,'test')

0

In [68]:
validate = (data_dict.x_data == data_dict.y_data.str.replace("_mask","")).sum()

In [69]:
validate

840

In [57]:
len(data_df)

1200

In [91]:
tr = "../raw_data/saved_dataframes/train_dataset.csv"
va = "../raw_data/saved_dataframes/validation_dataset.csv"
te = "../raw_data/saved_dataframes/test_dataset.csv"

In [121]:
from lwb_smr.data import LoadDataSets

In [134]:
reload = LoadDataSets(tr,va)
reload_dict = reload.load_datasets()

Datasets match, proceed

In [135]:
reload_dict['test_x']

[]

# Clean demo

In [136]:
from lwb_smr.data import GetData
from lwb_smr.data import LoadDataSets

In [137]:
train_percent = 0.7
val_pc = 0.25
test_pc = 0.05
dataset = GetData(train_data_path,test_data_path,train_percent,val_pc,test_pc)
data_dict = dataset.get_datasets()

Datasets match, proceed

/home/joshk/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [138]:
data_dict.keys()

dict_keys(['train_x', 'train_y', 'val_x', 'val_y', 'test_x', 'test_y'])

In [139]:
dataset.save_datasets("../raw_data/saved_dataframes/")

 RELOADING:

In [141]:
tr = "../raw_data/saved_dataframes/train_dataset.csv"
va = "../raw_data/saved_dataframes/validation_dataset.csv"
te = "../raw_data/saved_dataframes/test_dataset.csv"

In [142]:
reload = LoadDataSets(tr,va,te)
reload_dict = reload.load_datasets()
reload_dict.keys()

Datasets match, proceed

dict_keys(['train_x', 'train_y', 'val_x', 'val_y', 'test_x', 'test_y'])

GENERATE CUSTOM LOADERS

In [143]:
from lwb_smr.CustomDataLoader import CustomDataLoader

In [146]:
datagen_train = CustomDataLoader(data_dict['train_x'],"../raw_data/tiled_train_images/",
                                 data_dict['train_y'],"../raw_data/tiled_test_images/",
                                 (250,250),
                                 16)

datagen_val  = CustomDataLoader(data_dict['val_x'],"../raw_data/tiled_train_images/",
                                 data_dict['val_y'],"../raw_data/tiled_test_images/",
                                (250,250),
                                 16)

datagen_test  = CustomDataLoader(data_dict['test_x'],"../raw_data/tiled_train_images/",
                                 data_dict['test_x'],"../raw_data/tiled_test_images/",
                                (250,250),
                                 16)